.navbar_container {
    display: flex;
    align-items: center;
    /* this is top-down center not horizontal center*/
    justify-content: space-between;
    /* % is essential for responsiveness. */
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 1px 4px white;
    z-index: 1000;
    padding: 1rem 10%;


}

.navbar_container .logo {
    font-size: 2.2rem;
    font-weight: 800;
    text-decoration: none;
    color: whitesmoke;
}

.navbar_container .logo i {
    font-size: 2.2rem;
    color: #0A66C2;
}


.navbar_container .logo:hover {
    color: #fc8c05;
}

.navbar {
    display: flex;
    /*puts the parent tags(all <p>s) of navbar side by side */
}

/* means all the <p> tags of the navbar */
.navbar>p {
    margin-left: 2.2rem;
    padding: 10px 12px;
    /*all p will keep this much padding so that when hovered, it doesnot break*/
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.2s;
}

.navbar>p.active,
.navbar>p:hover {
    background-color: #0A66C2;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.navbar_line>hr {
    width: 100%;
}