* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    position: fixed;
    z-index: -1;
    bottom: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    min-height: 100vh;
    margin: 0;
}